In [1]:
import os
os.chdir('d:\\Github_work\\Heart-Attact-Prediction') # based on the file location change the directory to main project folder
os.getcwd()

'd:\\Github_work\\Heart-Attact-Prediction'

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from src.data_utils import load_data, preprocess_data

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

data = load_data('data/heart.csv')
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
type(data)

pandas.core.frame.DataFrame

In [5]:
for i in data.columns:
    if data[i].nunique()<8:
        print(i," : ", type(data[i][2])," : ", data[i].nunique())

sex  :  <class 'numpy.int64'>  :  2
cp  :  <class 'numpy.int64'>  :  4
fbs  :  <class 'numpy.int64'>  :  2
restecg  :  <class 'numpy.int64'>  :  3
exng  :  <class 'numpy.int64'>  :  2
slp  :  <class 'numpy.int64'>  :  3
caa  :  <class 'numpy.int64'>  :  5
thall  :  <class 'numpy.int64'>  :  4
output  :  <class 'numpy.int64'>  :  2